@import "bootstrap";

@font-face {
  font-family: 'ProximaNovaRegular';
  src: url('../styles/ProximaNova-Reg-webfont.eot');
  src: url('../styles/ProximaNova-Reg-webfont.eot?#iefix') format('embedded-opentype'), url('../styles/ProximaNova-Reg-webfont.woff') format('woff'), url('../styles/ProximaNova-Reg-webfont.ttf') format('truetype'), url('../styles/ProximaNova-Reg-webfont.svg#ProximaNovaRgRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

body{
  padding-top:20px;
  background-image: url('../images/hmk1.jpg');
  background-position: cover;
  font-family: ProximaNovaRegular, Arial, sans-serif;
  font-size: 20px;
  }
  .feed{
    padding:20px;
  }
  .caption {
    span {
      color: #ff4a4a;
    }
  }
  .panel{
    font-size: 15px;
  }
  .thumbnail a:hover {
    text-decoration: none;
  }
.outline{
  color:#ffffff;
  margin-top:50px;
}
.spinner {
  margin: 100px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #fff;
  height: 100%;
  width: 6px;
  display: inline-block;

  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}
