<table class="table table-bordered " style="color:#ffffff">
  <thead>
    <tr>
      <th>S.no</th>
      <th>Email</th>
      <th>Message</th>
    </tr>
  </thead>
  <tbody>
  {{#each model as |item index|}}
    <tr>
      <td>{{number index}}</td>
      <td>{{item.email}}</td>
      <td>{{item.message}}</td>
    </tr>
  {{/each}}
  </tbody>
</table>
