<div style="color:#ffffff">
  <h1 class="display1">About ACLM</h1>
<p>ACLM is Stands for Accet college of Library Management</p>
<p>A library is a collection of sources of information and similar resources,
   made accessible to a defined community for reference or borrowing.[1]
    It provides physical or digital access to material, and may be a physical building or room,
    or a virtual space, or both.[2] A library's collection can include books, periodicals, newspapers,
     manuscripts, films, maps, prints, documents, microform, CDs, cassettes, videotapes, DVDs, Blu-ray Discs,
      e-books, audiobooks, databases, and other formats. Libraries range in size from a few shelves of books to several million items.
       In Latin and Greek, the idea of a bookcase is represented by Bibliotheca and Bibliothēkē (Greek: βιβλιοθήκη):
        derivatives of these mean library in many modern languages</p>
</div>
