
<div style="color:#ffffff">
<h1> Accetian Library Welcomes You ...</h1>
  <span style="cursor:pointer; color:#ffd800;">{{#link-to 'secure' session.uid tagName="span"}} Click to View your Account {{/link-to}}</span>
</div>

{{outlet}}
