<div class="container-fluid">
{{notification-container position="top-right" zindex="9999"}}
<h1 class="text-center" style="text-shadow:2px 2px 5px;color:#ffffff">Accetians Booklet</h1>
{{#if session.isAuthenticated}}
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">ACLM</a>
    </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
          {{#link-to 'account' tagName='li'}}<a href="#">Home</a>{{/link-to}}
        {{#link-to 'about' tagName='li'}}<a href="#">About</a>{{/link-to}}
        {{#link-to 'feedback' tagName='li'}}<a href="#">Feedback</a>{{/link-to}}
       <li class="dropdown">
         <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
           Admin<span class="caret"></span>
         </a>
         <ul class="dropdown-menu">
         {{#link-to 'admin.users' tagName="li"}}<a href="">Users</a>{{/link-to}}
          {{#link-to 'admin.books' tagName="li"}}<a href="">Books</a>{{/link-to}}
           {{#link-to 'admin.details' tagName="li"}}<a href="">Details</a>{{/link-to}}
           {{#link-to 'admin.feeds' tagName="li"}}<a href="">Feedbacks</a>{{/link-to}}
            {{#link-to 'admin.add' tagName="li"}}<a href="">Add Book</a>{{/link-to}}
         </ul>
       </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
           <button class="btn btn-sm btn-danger" {{action 'logout'}}>Logout</button>
       </li>
      </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
{{/if}}
<br>
<div style="min-height:500px;">
{{outlet}}
</div>
<br>
<br>
</div>
