<div style="color:#ffffff">
  <h2 class="text-center">We Will Touch With You</h2>
<br>
<br>
<form class="form-horizontal container" {{action "save" model on="submit"}}>
<div class="form-group row">
  <label class="col-md-2 control-label">Email</label>
  <div class="col-md-8">
    {{input type="email" value=model.email class="form-control" required=true}}
  </div>
</div>
<br>
<div class="form-group row">
  <label class="col-md-2 control-label">Message</label>
  <div class="col-md-8">
    {{input type="text" value=model.message class="form-control" required=true}}
  </div>
</div>
<br>
<div class="form-group row">
  <button type="submit" class="col-md-offset-5 col-md-2 btn btn-primary">Feed</button>
</div>
</form>

</div>
