<h1 class="display-1" style="color:#ffffff">
   Hello <b class="text-primary">{{model.name}}!</b><br>
   <br>
   <div class="h3">Department of <b class="text-warning">{{model.department}}</b></div>
 </h1>

<div class="well well-lg" >
<div class="row">
  <div class="col-xs-6 col-md-4">
  <div class="thumbnail" >
    {{#link-to 'secure.reserved' }}
      <img src="/images/book.png" style="height:100px;width:auto;" alt="...">
      <div class="caption text-center">
        <span>Reserved Books</span>
      </div>
    {{/link-to}}
    </div>
  </div>
  <div class="col-xs-6 col-md-4">
    <div class="thumbnail" >
      {{#link-to 'secure.returned' }}
      <img src="/images/return.png" style="height:100px;width:auto;" alt="...">
      <div class="caption text-center">
        <span>Returned Books</span>
      </div>
      {{/link-to}}
    </div>
  </div>
  <div class="col-xs-6 col-md-4">
  <div class="thumbnail">
    {{#link-to 'secure.list' }}
      <img src="/images/list.png"  style="height:100px;width:auto;" alt="...">
      <div class="caption text-center">
        <span>Book Search</span>
      </div>
    {{/link-to}}
    </div>
  </div>
</div>
</div>
 {{outlet}}
